.table{
    width: 800px;
    display: flex;
    flex-direction: column;
}
.table_header{
    background-color: gray;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.column{
    width: 200px;
    text-align: start;
    border: 2px solid black;
    padding-left: 5px;
}